# Python
*.pyc
__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# virtual environment
.venv/
bess_venv/

# catboost
Notebooks/catboost_info

# large data files
data/large_files/

# mlflow
Notebooks/TS models/mlruns/

# vscode
.vscode/

# ignore all csv files in the Inferencing raw folder
Jobs/Inferencing/data/raw/*.csv

# ignore all csv files in the Retraining raw folder
Jobs/Retraining/data/raw/*.csv

# ignore actual AIL csv
Jobs/Evaluation/data/actual/AIL.csv


